* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
}

#root {
  background-color: rgb(255, 255, 255);

  margin-top: 20px;
}

.form {
  display: flex;
  padding: 15px 20px;
  box-shadow: 0px 0px 4px 1px rgb(218 20 0);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: auto;
  margin-top: 20px;
  width: 95%;

}

.row:before {
  content: " ";
  display: table;
}

.row.rowx {
  clear: both;
  border-bottom: none;
  box-shadow: none;
  padding-bottom: 3px;
  width: 25%;

}

.input {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;

}

.input {
  width: 100%;

}

.input[readonly] {
  background-color: #ececec !important;
  cursor: not-allowed;
  opacity: 1;
}

input {
  margin-bottom: 20px;
  background-color: #e2eaf3 !important;
  border: 1px solid #c8c8c8 !important;
  color: #222;
  line-height: 17px;
  overflow: hidden;
  height: 26px !important;
}

label {
  color: #222222;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
  padding-top: 7px;
  text-align: right;
}

.role {
  margin-bottom: 20px;
}

.bar {
  margin-bottom: 20px;
}

.fa.fa-asterisk {
  color: red;
  font-size: 7px;
  position: relative;
  bottom: 5px;
}

.inputData {
  display: inline;
  margin-left: 5px;
}

.lang {
  width: 150px !important;
  margin-left: 500px !important;
  margin-bottom: 20px !important;
}

.lang>label {
  overflow: inherit;
}